absl-py==0.13.0
acoustics==0.2.6
aio-pika==8.2.2
aiofiles==22.1.0
aiohttp==3.7.4
aiormq==6.4.2
aiosignal==1.2.0
alabaster==0.7.8
anyascii==0.3.1
anyio==3.6.1
appdirs==1.4.3
APScheduler==3.7.0
apturl==0.5.2
asgiref==3.5.2
asttokens==2.0.8
astunparse==1.6.3
async-timeout==3.0.1
attrs==19.3.0
audioread==3.0.0
autobahn==17.10.1
Automat==0.8.0
autopep8==1.6.0
azure-cognitiveservices-speech==1.23.0
Babel==2.10.3
backcall==0.2.0
backports.zoneinfo==0.2.1
bce-python-sdk==0.8.74
bcrypt==3.1.7
beautifulsoup4==4.8.2
benchmarkstt==1.1
bidict==0.22.0
blinker==1.4
blis==0.7.8
boto3==1.24.80
botocore==1.27.80
Bottleneck==1.3.5
braceexpand==0.1.7
Brlapi==0.7.0
CacheControl==0.12.11
cachetools==4.2.4
catalogue==1.0.0
catkin-pkg==0.5.2
catkin-pkg-modules==0.5.2
cbor==1.0.0
certifi==2019.11.28
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.3
clldutils==3.12.0
cloudpickle==1.6.0
colorama==0.4.3
colorclass==2.2.2
coloredlogs==10.0
colorhash==1.0.4
colorlog==6.6.0
command-not-found==0.3
config==0.5.1
configobj==5.0.6
constantly==15.1.0
coqpit==0.0.16
cryptography==2.8
csvw==3.1.1
cTTS==0.0.1
cupshelpers==1.0
cycler==0.10.0
cymem==2.0.6
Cython==0.29.28
dask==2022.2.0
datasets==2.4.0
dateparser==1.1.1
dbus-python==1.2.16
decorator==5.1.1
deepspeech==0.9.3
defer==1.0.6
defusedxml==0.6.0
dialogflow==2.0.0
dill==0.3.4
Distance==0.1.3
distro==1.4.0
distro-info===0.23ubuntu1
Django==2.0
django-cors-headers==2.1.0
django-unixtimestampfield==0.3.9
djangorestframework==3.6.3
dnspython==1.16.0
docopt==0.6.2
docutils==0.16
dominate==2.7.0
drfapikey==0.0.3
duplicity==0.8.12.0
edge-tts==5.0.1
editdistance==0.6.0
EfficientWord-Net==0.2.2
empy==3.3.2
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.3.1/en_core_web_md-2.3.1.tar.gz
entrypoints==0.3
espeakng==1.0.2
etils==0.7.1
evdev==1.3.0
eventlet==0.33.1
executing==0.10.0
faiss-gpu==1.7.2
fastapi==0.79.1
fasteners==0.14.1
fbmessenger==6.0.0
feedparser==5.2.1
ffmpeg==1.4
filelock==3.8.0
fire==0.4.0
Flask==2.2.2
Flask-Babel==2.0.0
Flask-Bootstrap==3.3.7.1
Flask-MQTT==1.1.1
Flask-SocketIO==5.2.0
flatbuffers==1.12
frozenlist==1.3.1
fsspec==2022.7.1
future==0.17.1
g2p-en==2.1.0
g2pM==0.1.2.5
gast==0.4.0
gevent==1.5.0
gitsome==0.8.0
google-api-core==1.32.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-cloud==0.34.0
google-cloud-core==2.3.2
google-cloud-dialogflow==2.15.0
google-cloud-speech==2.15.0
google-cloud-storage==2.5.0
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.4
gpg===1.13.1-unknown
greenlet==1.1.2
grpcio==1.47.0
grpcio-status==1.47.0
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-cs==2.0.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut-lang-es==2.0.0
gruut-lang-fr==2.0.2
gruut-lang-it==2.0.0
gruut-lang-nl==2.0.2
gruut-lang-pt==2.0.0
gruut-lang-ru==2.0.0
gruut-lang-sv==2.0.0
gunicorn==20.1.0
h11==0.13.0
h5py==3.7.0
html5lib==1.0.1
httplib2==0.14.0
httptools==0.5.0
huggingface-hub==0.8.1
humanfriendly==10.0
hyperlink==19.0.0
idna==2.8
imagesize==1.2.0
importlib-metadata==4.12.0
importlib-resources==5.9.0
incremental==16.10.1
inflect==5.6.0
ipython==8.4.0
isodate==0.6.1
itsdangerous==2.1.2
jedi==0.18.1
jieba==0.42.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.0.1
jsonlines==1.2.0
jsonpickle==2.0.0
jsonrpcserver==5.0.9
jsonschema==4.4.0
kafka-python==2.0.2
kaldiio==2.17.2
keras==2.7.0
Keras-Preprocessing==1.1.2
keyring==18.0.1
kiwisolver==1.0.1
klein==17.10.0
langid==1.1.6
language-selector==0.1
language-tags==1.1.0
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libclang==14.0.6
librosa==0.8.0
llvmlite==0.38.1
locket==1.0.0
lockfile==0.12.2
loguru==0.6.0
louis==3.12.0
lxml==4.9.1
lz4==3.0.2+dfsg
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.4.1
Markups==3.1.3
MarkupSafe==2.1.1
matplotlib==3.3.4
matplotlib-inline==0.1.6
mattermostwrapper==2.2
mecab-python3==1.0.5
mock==4.0.3
monotonic==1.5
mpi4py==3.0.3
msgpack==1.0.4
multidict==5.2.0
multiprocess==0.70.12.2
murmurhash==1.0.8
nara-wpe==0.0.8
netifaces==0.10.5
networkx==2.6.3
nltk==3.7
nose==1.3.7
num2words==0.5.12
numba==0.55.1
numpy==1.19.5
numpydoc==0.7.0
oauthlib==3.1.0
olefile==0.46
onnxruntime==1.7.0
OpenCC==1.1.4
opt-einsum==3.3.0
OSlash==0.6.3
packaging==20.9
paddle2onnx==0.9.8
paddlefsl==1.1.0
paddlenlp==2.3.5
paddlespeech==1.1.1
paddlespeech-feat==0.1.0
paho-mqtt==1.6.1
pamqp==3.2.1
pandas==1.4.3
paramiko==2.6.0
parso==0.8.3
partd==1.3.0
pathos==0.2.8
pattern-singleton==1.2.0
pbr==5.10.0
pexpect==4.6.0
phonemizer==2.2.1
pickleshare==0.7.5
Pillow==9.2.0
pkgutil_resolve_name==1.3.10
plac==1.1.3
playsound==1.3.0
ply==3.11
pooch==1.6.0
portalocker==2.5.1
pox==0.3.1
ppft==1.7.6.5
praatio==5.0.0
preshed==3.0.7
prettytable==3.3.0
promise==2.3
prompt-toolkit==3.0.28
proto-plus==1.20.6
protobuf==3.19.4
psutil==5.5.1
psycopg2-binary==2.9.3
pure-eval==0.2.2
pvporcupine==2.1.4
pvrecorder==1.1.1
py-espeak-ng==0.1.8
py-picotts==0.1.2
py-ubjson==0.14.0
pyarrow==9.0.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pyassimp==4.1.4
PyAudio==0.2.11
pybind11==2.10.0
pycairo==1.16.2
pycodestyle==2.9.1
pycparser==2.21
pycrypto==2.6.1
pycryptodome==3.15.0
pycryptodomex==3.6.1
pycups==1.9.73
pydantic==1.9.2
pydot==1.4.1
pydub==0.25.1
pyflite==0.1
pygame==2.1.2
Pygments==2.13.0
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==2.5.0
pykwalify==1.8.0
pymacaroons==0.13.0
pymongo==3.10.1
PyNaCl==1.3.0
pynndescent==0.5.7
PyOpenGL==3.1.0
pyOpenSSL==19.0.0
pyparsing==2.2.0
pypinyin==0.47.1
pypinyin-dict==0.3.0
pypng==0.0.20
PyQRCode==1.2.1
PyQt5==5.14.1
PyQt6==6.4.0
PyQt6-Qt6==6.4.1
PyQt6-sip==13.4.0
pyRFC3339==1.1
pyrsistent==0.18.1
pysbd==0.3.4
pyTelegramBotAPI==4.7.0
pytest-runner==6.0.0
python-apt==2.0.0+ubuntu0.20.4.7
python-crfsuite==0.9.8
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-engineio==4.3.4
python-espeak==0.6.3
python-gnupg==0.4.5
python-magic==0.4.16
python-markdown-math==0.8
python-mpv==1.0.1
python-snappy==0.5.3
python-socketio==5.7.1
PyTrie==0.2
pyttsx3==2.90
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pyworld==0.2.10
pyxattr==0.6.1
pyxdg==0.26
PyYAML==5.3.1
questionary==1.10.0
randomname==0.1.5
rasa==3.2.8
rasa-nlu==0.15.1
rasa-sdk==3.2.1
rdflib==6.2.0
redis==3.5.3
regex==2022.3.2
reportlab==3.5.34
requests==2.28.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
requests-unixsocket==0.2.0
resampy==0.2.2
responses==0.18.0
ReText==8.0.0
rfc3986==1.5.0
rocketchat-API==1.25.0
roman==2.0.0
rosdep-modules==0.22.1
rosdistro==0.9.0
rosdistro-modules==0.9.0
rospkg==1.4.0
rospkg-modules==1.4.0
rsa==4.9
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.6
s3transfer==0.6.0
sacrebleu==2.2.0
sanic==21.12.2
Sanic-Cors==2.0.1
sanic-jwt==1.8.0
sanic-routing==0.7.2
scikit-learn==0.24.2
scipy==1.7.3
screen-resolution-extra==0.0.0
seaborn==0.11.2
SecretStorage==2.3.1
segments==2.2.1
sentencepiece==0.1.97
sentry-sdk==1.3.1
seqeval==1.2.2
service-identity==18.1.0
setproctitle==1.1.10
simpleaudio==1.0.4
simplejson==3.16.0
sip==4.19.21
six==1.16.0
sklearn==0.0
sklearn-crfsuite==0.3.6
slackclient==2.9.4
sniffio==1.2.0
SoundCard==0.4.2
sounddevice==0.4.4
SoundFile==0.10.3.post1
soupsieve==1.9.5
spacy==2.3.7
Sphinx==1.8.5
SQLAlchemy==1.4.41
sqlparse==0.4.3
srsly==1.0.5
srt==3.5.2
stack-data==0.4.0
starlette==0.19.1
systemd-python==234
tabulate==0.8.10
talkey==0.1.1
tarsafe==0.0.3
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
tensorflow==2.7.4
tensorflow-addons==0.15.0
tensorflow-datasets==4.6.0
tensorflow-estimator==2.7.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-metadata==1.9.0
tensorflow-text==2.7.3
termcolor==1.1.0
terminaltables==3.1.10
testresources==2.0.1
TextGrid==1.5
tf-slim==1.1.0
tflite-runtime==2.5.0.post1
thinc==7.4.5
threadpoolctl==3.1.0
timer==0.2.2
toml==0.10.2
toolz==0.12.0
torch==1.12.1
torchaudio==0.12.1
tornado==5.1.1
tqdm==4.64.0
trainer==0.0.14
traitlets==5.3.0
tts @ git+https://github.com/DeepHorizons/tts@11cabe8e2a76bd788e4266e5b5469c118412d7b1
twilio==6.50.1
Twisted==18.9.0
txaio==2.10.0
typeguard==2.13.3
types-cryptography==3.3.23
typing==3.7.4.3
typing-extensions==3.10.0.2
typing-utils==0.1.0
tzdata==2022.2
tzlocal==2.1
u-msgpack-python==2.1
ubuntu-advantage-tools==27.9
ubuntu-drivers-common==0.0.0
ufw==0.36
ujson==5.5.0
umap-learn==0.5.1
unattended-upgrades==0.1
Unidecode==1.3.4
unidic-lite==1.0.8
uritemplate==4.1.1
urllib3==1.26.11
usb-creator==0.3.7
uvicorn==0.18.2
uvloop==0.17.0
visitor==0.1.3
visualdl==2.3.0
vosk==0.3.43
voxpopuli==0.3.7
wadllib==1.3.3
wasabi==0.10.1
wcwidth==0.1.8
webencodings==0.5.1
webexteamssdk==1.6.1
webrtcvad==2.0.10
websockets==10.3
Werkzeug==2.2.2
wrapt==1.14.1
wsaccel==0.6.2
xgboost==1.6.2
xkit==0.0.0
xonsh==0.9.13
xxhash==3.0.0
yacs==0.1.8
yarl==1.8.1
youtube-dl==2020.3.24
zhon==1.1.5
zipp==3.8.1
zope.interface==4.7.1
